nlp_cw/
venv/
.env/
.envrc/
pyvenv.cfg

.ipynb_checkpoints/

__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
*.tmp
*.swp

70016_1_spec.pdf
2020.coling.main.518.pdf


NLPLabs-2024/
Dont_Patronize_Me_Trainingset/

data/

dontpatronizeme/

dev_semeval_parids-labels.csv
train_semeval_parids-labels.csv